/*mobile version*/

.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.personalia {
    background-color: #D7D7D7;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    background-color: #faf8f8;
    width: 100%;
}

.person-logo {
    border: 4px solid black;
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
    width: 30%;
    animation: glow 3s ease alternate;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: rgba(14, 34, 188, 0.96);
}

.profile-content__category--hidden-mobile {
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__period {
}

.profile-content__institute {
    color: rgba(0, 44, 164, 0.96);
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .person-name{
        order: -1;
    }

    .profile-content__category--hidden-mobile{
        display: flex;
        flex-direction: column;
    }

    /*fix: anders als stipje zichtbaar*/
    .profile-content__category--hidden-mobile hr{
        width: 100%;
    }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header{
        display: flex;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: #5c6166;
        display: flex;
    }

}


/*student uitwerking*/

.link{
    text-decoration: none;
    color:black;
}
.personalia_base{
    align-items: baseline !important;
    width: 100%;
    padding-left: 30px;
}
.personalia_base_title{
    align-self: center;
}
.personalia_email:before{
     content: "\f0e0";
}
.personalia_name:before{
         content: "\f007";
    }
    .personalia_tel:before{
         content: "\f095";
    }
    .before:before{
        padding-right:15px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color:#0A369D !important;
    display: inline-block;
    text-align: center !important;
    width: 25px;
    }
    .personalia_home:before{
        
        content: "\f015";

    }
    .personalia_rijbewijs:before{
        content: "\f015";

    }
    .eigenschappen_ul li span{
        color:#000000;
    }
    .eigenschappen_ul{
        list-style: circle;
        color: #0a369d;
    }
    .personalia_geboorte_datum:before{
        content: "\f073";
    }
    .personalia_base div {
width: 100%;
    }
    .personalia_geslacht:before{
        content: "\f183";
    }
    .personalia_nationaliteit:before{
        content: "\f0ac";
    }
    .header{
background-image: url("../images/header_picture.jpeg");
height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    box-shadow: inset 0px 0px 10px rgb(109 103 103 / 90%);
    }
    .filter{
height:100%;
background-color:#00000087;
    }
    body{
        margin:0px;
    }
    .header_content{
        height: 100px;
        text-align: center;
        padding-top: 12%;
        color: #ffffff;
    font-family: system-ui;
    }
    .header_content a{
         
            content: "\f063";
            color: #ffffff;
            border: 3px solid #ffffff;
            border-radius: 25px;
            padding: 15px 10px;
            transition: transform 1s ease-in-out;
            position: absolute;

    }
    .header_content   h1{
    font-size: 89px;
    letter-spacing: 7px;
    text-transform:uppercase;
    opacity: 0.7;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
    html {
        scroll-behavior: smooth;
      }
      h3{
        color:#0A369D !important;

      }
      .picture{
        background-image: url("../images/foto_joery_2.jpeg");
        background-size: cover;
        height:27vw;
        width: 100%;
        align-content: flex-end;
        display: flex;
        flex-wrap: wrap;
      }
      .picture h1{
        background-color: #D7D7D7;
        margin-bottom: 0px;
        padding: 15px 15px 15px 15px;
        border-radius: 0px 25px 0px 0px;
        color: #0a369d;
        font-size: 30px;
      }
      .profile-content_omschrijving{
        font-size: 14px;
        color:black;
        margin-top:3px;
      }
      .bar{
        
      }
      .bar {
        width: 200px; /* Pas de breedte aan naar wens */
        height: 20px; /* Pas de hoogte aan naar wens */
        border: 1px solid #ccc; /* Randstijl en kleur aanpassen */
        border-radius: 5px; /* Afgeronde hoeken */
        overflow: hidden;
      }
      
      .bar::-webkit-progress-bar {
        background-color: #f2f2f2; /* Achtergrondkleur van de balk zelf */
      }
      
      .bar::-webkit-progress-value {
        background-color: #0A369D ; /* Vulkleur van de balk */
      }
      
      .bar::-moz-progress-bar {
        background-color: #0A369D ; /* Vulkleur van de balk voor Firefox */
      }
      .section{
        margin-bottom:25px;
        padding:15px;
        background-color:#D7D7D7;
        border-radius:15px;
        margin:30px;
        margin-top:0px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .profile {
       

    }
    .profile-content{
        padding:0px;
        padding-top:15px;

    }
    section.profile-content .filer
        {
        margin:15px;
    }
    .profile {
        background-color: #fff3f3;}
.menu{
    float: right;
    padding:15px;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    opacity: 0.6;
    font-size: 20px;
    padding: 15px;
    font-family: system-ui;
}
        @media only screen and (max-width: 800px) {

        .header{
            background-image: url("../images/mobile_header_foto.jpeg");
            background-size: cover;
        }
        .header_content h1{
            font-size:49px;
        }
        .header_content {
           
            padding-top: 50%;
    }
    .personalia {
        width: 100%;}
        .picture {
            background-size: cover;
            height: 83vw;
}
.personalia_base div {
    width: 90%;
    padding-left: 18px;
}
.section {
    margin: 15px !important;
}
.personalia_base {

    padding-left: 0px;
}